*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", serif;

}


.firstnavbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}
.firstnavbar ul {
    display: flex;
    list-style: none;
    gap: 160px;
    align-items: center;
    color: #495057;

    
}
.firstnavbar .logo{
    font-size: 40px;
    color: #44425A;
    margin-top: 20px;
    position: relative;
    right: 22px;

}
.firstnavbar .officeicon,.emailicon,.phoneicon{
    
    font-size: 30px;
    color: #FF6600;
    position: relative;
    top: 60px;
    right: 15px;
    
}
.firstnavbar ul li span{
    margin-left: 25px;
    position: relative;
    top: -10px;
    left: 5px;
    font-size: 20px;
}
.firstnavbar h1 .logospan{
    color: #FF6600;
}
.firstnavbar h3{
    position: relative;
    left: 30px;
    font-size: 20px;
    top: 10px;
}
.firstnavbar label{
    display: none;
}
#click:checked~.secondnavbar ul{
    display: block;
}
@media screen and (max-width : 767px){
    .firstnavbar label{
        display: block;
    }
    .firstnavbar ul{
        display: none;
    }
    /* .secondnavbar{
        display: block;
    } */
    .secondnavbar ul:hover{
        cursor: pointer;
        color: #FF6600;
    }
    .secondnavbar ul{
        display: block;
        position: relative;
        width: 100%;
    }
    .secondnavbar p{
        display: none;
        position: relative;
        width: 100%;
    }
    .secondnavbar button{
        display: none;
        position: relative;
        width: 100%;
    }
    
}
.secondnavbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    margin-top: 30px;
}
.secondnavbar ul{
    display: flex;
    list-style: none;
    gap: 30px;

}
.secondnavbar ul li a{
    text-decoration: none;
    color: #495057;

    font-size: 20px;
    font-weight: 550;
}
.secondnavbar .bookicon{
    color: #FF6600;
    position: relative;
    right: 10px;
}
.secondnavbar p{
    font-size: 20px;
    color: #FF6600;
    font-weight: 550;
    position: relative;
    top: 12px;
    right: 80px;
}

.secondnavbar a:hover{
    color: #FF6600;
}

.secondnavbar button{
    background-color: #FF6600;
    color: white;
    padding: 14px 30px;
    border-style: none;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    left: 70px;
    font-weight: bold;
   
}

.hero{
    margin-top: 12px;
    background-image: url(/carousel-1.jpg);
    height: 100vh;
    color: white;
    flex-wrap: wrap;
}
.hero .display{
    position: relative;
    top: 240px;
    left: 270px;
}
.hero .display .display-1{
    font-size: 21px;
    font-weight: bold;
    margin-left: -0px;
}
.hero .display .display-2{
    font-size: 80px;
    margin-top: 15px;
}

.hero .display button{
    margin-top: 30px;
    background-color: #FF6600;
    color: white;
    padding: 12px 25px;
    border-style: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width : 767px ){
    .hero .display .display-2{
        font-size: 60px;
        margin-top: 12px;
    }
    .hero .display button{
        margin-top: 24px;
    }
    .hero{
        margin-top: 8px;
    }
    .hero .display{
        position: relative;
        top: 120px;
        left: 50px;
    }
}
.about{
  display: flex;
  margin-top: 200px;
  margin-left: 125px;
  flex-wrap: wrap;
}
.about .firstabout{
    margin-left: 30px;
    margin-top: 55px;
}
.about img{
    border-radius: 8px;
    height: 445px;
    width: 445px;
    margin-top: 30px;
    
}
.about .firstabout h5{
    letter-spacing: 5px;
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
}
.about .firstabout h1{
    color: #44425a;
    font-size: 40px;
    margin-top: 15px;
    font-weight: bolder;
}
.about .firstabout p{
    color: #6C6A74;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 0px;
}
.about .firstabout button{
    margin-top: 30px;
    background-color: #FF6600;
    color: white;
    padding: 12px 25px;
    border-style: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: -0px;
}
@media screen and (max-width : 767px) {
    .about{
        display: flex;
        margin-top: 270px;
        margin-left: 50px;
      }
      
}
.subjects .firstsubjectsh5{
    letter-spacing: 5px;
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 170px;
}
.subjects .firstsubjectsh1{
    color: #44425a;
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
}
.subjects .secondsubjects{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 35px;
    row-gap: 35px;
    grid-template-rows: 150px 150px;
    color: white;
    margin-top: 45px;
    margin-left: 120px;
    margin-right: 120px;
}
.subjects .secondsubjects .div1{
    background-image: url(/cat-1.jpg);;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    
}

.subjects .secondsubjects .div2{
    background-image: url(/cat-2.jpg);
    /* width: 280px; */
    /* height: 160px; */
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
.subjects .secondsubjects .div3{
    background-image: url(/cat-3.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
.subjects .secondsubjects .div4{
    background-image: url(/cat-4.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
.subjects .secondsubjects .div5{
    background-image: url(/cat-5.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
.subjects .secondsubjects .div6{
    background-image: url(/cat-6.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
.subjects .secondsubjects .div7{
    background-image: url(/cat-7.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
.subjects .secondsubjects .div8{
    background-image: url(/cat-8.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px
}
@media screen and (max-width:767px) {
    .secondsubjects{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
    }
    
}
@media screen and (max-width:767px) {
    .secondsubjects{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(1,auto);
    }
}

.footer{
    
    background-color: #44425a;
    
}
.footer .firstfooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: -60px;
    margin-right: -60px;
}
.footer h5{
    color: #FF6600;
    letter-spacing: 5px;
    font-size: 22px;
    margin-left: 55px;

}
.footer .get{
    margin-left: 64px;
}
.footer p{
    color: #fff;
    margin-top: 15px;
    font-size: 17px;
    padding: 5px;
    letter-spacing: 0.3px;

}
.footer .locicon,.phnicon,.emlicon{
    padding: 10px;
}
.footer .socialicons{
    margin-left: 70px;
}
.footer,.twittericon,.fbicon,.linkedinicon,.instaicon{
    color: white;
    margin-top: 15px;
    margin-right: 10px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 8px;
}
.footer input{
padding-left: 25px;
padding-right: 150px;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 25px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-style: none;
font-size: 16px;
margin-left: 50px;
}
.footer button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -15px;
    background-color: #FF6600;
    color: #fff;
    font-size: 16px;
    border-style: none;
}
.footer .fourthfooter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 60px;
}
.footer .fourthfooter .copyicon{
    padding: 5px;
}
.footer .fourthfooter ul{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 25px;
    margin-right: 35px;
}





/* about page */
.abouthero{
    background-image: url(course-3.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    color: #fff;
    margin-top: 12px;

}
.abouthero .aboutherodiv1{
    margin-top: 80px;
    margin-left: 130px;
    padding-bottom: 100px;
    
}
.abouthero .aboutherohead{
    font-size: 45px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.abouthero .aboutherodiv2{
    display: flex;
    flex-wrap: wrap;
}

.abouthero p,.doublerighticon{
   margin-left: 15px;
   font-weight: bold;
   font-size: 18px;
}
.abouthero .aboutherodiv2 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
/* REGISTRATION SECTION */
.registration{
    background-image: url(/course-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.registration .regisdiv1{
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: -65px;
}

.registration .regisdiv1 h5{
    color: #FF6600;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: bold;
}
.registration .regisdiv1 h5,.regisheadh1,p,ul{
    margin-left: 50px;
}
.registration .regisdiv1 h5,.regisheadh1,p{
    margin-bottom: 20px;
}
.registration .regisdiv1 .regisheadh1{
    font-size: 35px;
    font-weight: bolder;
}
.registration .regisdiv1 .regisheadh1,p,ul{
    color: #fff;
    
}
.registration .regisdiv1 p,ul{
    font-size: 20px;
    font-weight: lighter;
}

.registration .regisdiv1 ul{
    list-style: none;
}
.registration .regisdiv1 ul li{
    margin-top: 15px;
}
.registration .regisdiv1 ul li .checkicon1,.checkicon2,.checkicon3{
    color: #FF6600;
    margin-right: 15px;
    font-size: 16px;
}
.registration .regisdiv2{
    margin-bottom: 80px;
    margin-top: 70px;
    margin-left: 30px;
}
.registration .regisdiv2 .regisdiv3{
    font-size: 27px;
    color: #44425A;
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bolder;
    text-align: center;
}
.registration .regisdiv2 .regisdiv4{
    background-color: #FF6600;
    padding: 45px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
}
.registration .regisdiv2 .regisdiv4 input{
    padding-left: 20px;
    padding-right: 120px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
}
.registration .regisdiv2 .regisdiv4 select{
    padding-left: 20px;
    padding-right: 172px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    color: #495057;
    font-size: 17px;
}
.registration .regisdiv2 .regisdiv4 button{
    padding-left: 116px;
    padding-right: 116px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 10px;
    margin-top: 4px;
    border-radius: 8px;
    border: none;
    background-color: #44425A;
    color: #fff;
    font-size: 17px;
}
    /* TESTIMONIAL SECTION */
.testimonial{
    margin-top: 140px;
    margin-left: 500px;
    margin-bottom: 230px;
}       
.testimonial .testimonialh5{
    letter-spacing: 5px;
    color: #FF6600;
    font-size: 20px;
    margin-left: 20px;
   
}
.testimonial .testimonialh1{
    font-size: 40px;
    color: #44425A;
    font-weight: bolder;
    margin-left: -100px;
    margin-top: 10px;
}
.testimonial .qlefticon{
    color: #FF6600;
    font-size: 48px;
    margin-top: 25px;
    margin-left: 90px;
}
.testimonial .testimonialh4{
    color: #44425A;
    font-size: 24px;
    margin-left: -180px;
    margin-top: 20px;
}
.testimonial .clientnameh5{
    font-size: 20px;
    color: #44425A;
}
.testimonial .testimonialimg{
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial .testimonialimg,.clientnameh5,.profession{
    margin-left: 70px;
}
.testimonial .profession{
    color: #6C6A74;
    margin-left: 90px;
    font-size: 16px;
}


/* teachers page */
.teachershero{
    background-image: url(course-3.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    color: #fff;
    margin-top: 12px;

}
.teachershero .teachersherodiv1{
    margin-top: 80px;
    margin-left: 130px;
    padding-bottom: 100px;
    
}
.teachershero .teachersherohead{
    font-size: 45px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.teachershero .teachersherodiv2{
    display: flex;
    flex-wrap: wrap;
}

.teachershero p,.doublerighticon{
   margin-left: 15px;
   font-weight: bold;
   font-size: 18px;
}
.teachershero .teachersherodiv2 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.team{
    margin-top: 170px;
    margin-left: 570px;
    margin-bottom: 160px;
}
.team .teamh5{
    color: #FF6600;
    font-size: 20px;
}
.team .teamh1{
    color: #44425A;
    font-size: 40px;
    font-weight: bold;
    margin-left: -100px;
    margin-top: 10px;
}
.teamdiv{
    display: flex;
    flex-wrap: wrap;
    margin-left: -470px;
    margin-top: 40px;
}
.teamhead{
    font-size: 20px;
    color: #44425A;
    margin-left: 80px;
    padding-top: 25px;
}
.teamh6{
    margin-top: 5px;
    font-size: 16px;
    color: #6C6A74;
    margin-left: 70px;
    padding-bottom: 25px;
    
}
.teamheads{
    background-color: rgba(211, 211, 211, 0.288);
    margin-top: -6px;
}
.teamdiv .teamdiv1,.teamdiv2,.teamdiv3,.teamdiv4,.teamdiv5,.teamdiv6,.teamdiv7,.teamdiv8{
    margin: 15px;
}

/* COURSES PAGE */
.courseshero{
    background-image: url(course-3.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    color: #fff;
    margin-top: 12px;

}
@media screen and (max-width:767px){
   .courseshero{

   }
}
.courseshero .coursesherodiv1{
    margin-top: 80px;
    margin-left: 130px;
    padding-bottom: 100px;
    
}
.courseshero .coursesherohead{
    font-size: 45px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.courseshero .coursesherodiv2{
    display: flex;
    flex-wrap: wrap;
}

.courseshero p,.doublerighticon{
   margin-left: 15px;
   font-weight: bold;
   font-size: 18px;
}
.courseshero .coursesherodiv2 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Courses page Courses Section */
.courses{
    margin-bottom: 190px;
}

.courses .coursesdiv0{
    margin-left: 470px;
    margin-top: 180px;
    margin-bottom: 40px;
}
@media screen and (max-width:425px) {
    .courses .coursesdiv0{
        margin-left: 230px;
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .courses .coursesdiv0 .coursesh5{
        margin-left: 5px;
    }
}
.courses .coursesh5{
    color: #FF6600;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 550;
    margin-left: 90px;
    margin-bottom: 10px;
}
.courses .coursesh1{
    color: #44425A;
    font-size: 40px;
}

.coursesdiv{
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 90px;
}
.coursesdiv .coursesdiv1,.coursesdiv2,.coursesdiv3,.coursesdiv4,.coursesdiv5,.coursesdiv6{
    margin: 25px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.24);

}
.usericon,.clockicon,.staricon{
    color: #FF6600;
    margin-right: 5px;
}
.usericon,.clockicon{
    margin-bottom: 10px;
}

.h5light
{
    color: #6C6A74;
    margin-bottom: 10px;
    font-size: 14px;
}
.h5dark{
    color: #44425A;
    margin-top: 50px;
    font-size: 16px;
}
.coursesanchor{
    text-decoration: none;
    color: #44425A;
    font-size: 22px;
    font-weight: 550;
}
.coursesdivinside{
    padding: 25px;
}
.coursesdiv .coursesdiv1 .coursesdiv1-1,.coursesdiv1-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coursesdiv .coursesdiv2 .coursesdiv2-1,.coursesdiv2-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coursesdiv .coursesdiv3 .coursesdiv3-1,.coursesdiv3-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coursesdiv .coursesdiv4 .coursesdiv4-1,.coursesdiv4-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coursesdiv .coursesdiv5 .coursesdiv5-1,.coursesdiv5-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coursesdiv .coursesdiv6 .coursesdiv6-1,.coursesdiv6-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen {
    
}
/* CONTACT PAGE */
.contacthero{
    background-image: url(course-3.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    color: #fff;
    margin-top: 12px;

}
.contacthero .contactherodiv1{
    margin-top: 80px;
    margin-left: 130px;
    padding-bottom: 100px;
    
}
.contacthero .contactherohead{
    font-size: 45px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.contacthero .contactherodiv2{
    display: flex;
    flex-wrap: wrap;
}

.contacthero p,.doublerighticon{
   margin-left: 15px;
   font-weight: bold;
   font-size: 18px;
}
.contacthero .contactherodiv2 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
/* contact contact section */
.contact{
    margin-top: 180px;
    margin-bottom: 180px;
}
.contacth5{
    letter-spacing: 5px;
    color: #FF6600;
    font-size: 20px;
    margin-left: 140px;
}
.contacth1{
    color: #44425A;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
}
.contacthead{
    margin-left: 450px;
}
.contactdiv{
    background-color: rgba(211, 211, 211, 0.452);

}
.contactdiv input{
    margin-left: 100px;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 8px;
}
.contactdiv .contactform .name{
    margin-top: 60px;
}
.contactdiv .contactform .msg{
    padding-top: 15px;
    padding-bottom: 120px;
    font-size: 16px;
}
.contactdiv .contactform{
    margin-left: 350px;
    margin-top: 30px;
}
.contactdiv .contactform .contactbutton{
    color: #fff;
    background-color: #FF6600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
}

